body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../../img/demo-background-image.png); 
}
.title{
font-size: 52px;
color: rgb(255, 255, 255);
}
p,h3 {
    margin: 0;
    padding: 0;
}
h3 {
  font-size: 16px;
}
img {
    height: 220px;
    
}
.loader-box{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: #1a17179f;
}
.loader {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
}
.category-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}
button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}



.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;

}

.active{
  box-shadow: #D6D6E7 0 3px 7px inset;
  
}

.product-img img {
   display: block;
   width: 100%;
   object-fit: contain;
   border-bottom: 3px solid #eee;
}
.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
.product-card {
   box-sizing: border-box;
   width: 300px;
   height: 488px;
   text-align: center;
   margin: 0 auto;
   padding: 10px 10px 5px 10px;
   border: 1px solid #eee;
   background: white;
    border-radius: 15px;
   transition: .4s linear;   
   display: flex;
   flex-direction: column;
    justify-content:space-between;
}
.product-title {

}

.product-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.description{
  height: 75px;
  overflow: auto;
  overflow-x: hidden
}
.description::-webkit-scrollbar {
  background: #74e6cf;
  border-radius: 50px;
  box-shadow: inset 0 0 0 4px #ccc;
  width: 10px;
}
.description::-webkit-scrollbar-thumb {
background: linear-gradient(141.39deg, #03edbe 13.88%, #C0E594 106.32%);
  border-radius: 50px;
  position: relative;
}
.add-btn {
  background-color: rgb(102, 8, 139);
  color: #fff;
  box-shadow: none;
  font-size: 16px;
}
.product-info2 {
  display: flex;
  align-items: center;
 margin-left: 26%;
 gap: 10px;
}
.price {
  font-size: 20px;
  font-weight: 700;
  color: red;
  margin-top: 11px;
  }
.price-txt{
  font-size: 22px;
  font-weight: 700;
  color:black
}